{% include 'head.html'%}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 mt-4">
    <div class="card p-3 mt-5">
      <form action="TFiDfReview2" method="post">
        <div class="form-group">
          <label for="review">Review</label>
          <textarea name="review" class="form-control mt-1" placeholder="Enter Review" id="review"></textarea>
        </div>
        <input type="submit" value="Enter Review" class="btn btn-primary w-100 mt-3">
      </form>
    </div>
  </div>
</div>